.login-logo {
  padding: 20px 0;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.list {
  margin-bottom: 0;
}

.google-btn{

  background: #ea4335;

}

.fb-btn{

  background: #3a559f;

}